<?xml version="1.0" encoding="UTF-8"?>
<configuration
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd"
        debug="false" scan="true" scanPeriod="30 second">
    <!-- 文件夹命名规则 -->
    <property name="project.name" value="case" />
    <property name="ROOT" value="logs/${project.name}/" />
    <!-- 日志文件大小 -->
    <property name="FILESIZE" value="50MB" />
    <!-- 日志保存天数 -->
    <property name="MAXHISTORY" value="100" />
    <!-- 日期格式 -->
    <timestamp key="DATETIME" datePattern="yyyy-MM-dd HH:mm:ss" />



    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 打印格式化 -->
        <encoder charset="utf-8">
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>
        </encoder>
    </appender>


<!--    &lt;!&ndash; ERROR 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        &lt;!&ndash; 日志记录器的滚动策略，按日期，按大小记录 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; 日志文件保存命名规则 &ndash;&gt;-->
<!--            <fileNamePattern>${ROOT}%d/error.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; 日志保存天数 &ndash;&gt;-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            &lt;!&ndash; 日志文件大小，超过这个大小，重新以0索引添加 &ndash;&gt;-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; WARN 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/warn.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; INFO 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/info.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->
<!--    &lt;!&ndash; DEBUG 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--           <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/debug.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->
<!--    &lt;!&ndash; TRACE 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t]  [%.-5level] classpath:[%class] method:[%method] location:[%file:%line] =====> %msg %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>TRACE</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/trace.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

    <!-- Logger 根目录 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="DEBUG" />-->
<!--        <appender-ref ref="ERROR" />-->
<!--        <appender-ref ref="WARN" />-->
<!--        <appender-ref ref="INFO" />-->
<!--        <appender-ref ref="TRACE" />-->
    </root>
</configuration>